/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway-font {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* root styles */

:root{
  --orange: #FEA301;
  --brown: #a52a2a;
  --dodger-blue: #1e90ff;
  --indigo: #4b0082;
  --black: #000;
  --white: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

/* Shared styles */

.btn{
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  border-radius: 12px;
  padding: 1rem 2.5rem;
}

/* Header and Main centered */

.center{
  width: 90%;
  margin: auto;
}

/* Header Styling */

header{
  font-family: "Quicksand", serif;
  width: 100%;
}

/* Navbar Styling */

.nav-items{
  min-width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 20px auto;
}

.nav-item{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-item > h2{
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  margin-left: 0.75rem;
}

.nav-item > .links{
  display: flex;
  flex-direction: row;
}

.links > li{
  list-style-type: none;
}

.links a{
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2rem;
  margin-right: 2rem;
}

.orange{
  color: var(--orange);
}

.dodger-blue{
  color: var(--dodger-blue);
}

.indigo{
  color: var(--indigo);
}

.brown{
  color: var(--brown);
}

.nav-btn{
  background-color: var(--orange);
}
.nav-btn:hover{
  background-color: var(--black);
}

.nav-item > .menu-icon{
  display: none;
}

hr{
  display: none;
}

/* Navbar Media Queries */

@media screen and (max-width: 576px) {
  .logo{
    width: 46px;
    height: 46px;
  }
  .nav-item > .links{
    display: none;
  }
  .nav-item > h2{
    display: none                                                                                                                           ;
  }
  .nav-item > .nav-btn{
    display: none;
  }
  .nav-item > .menu-icon{
    display: inline-block;
  }
  hr{
    display: block;
    border: 1.5px solid var(--orange);
    position: absolute;
    left: 0;
    right: 0;
  }
}

/* Banner Styling */

.banner{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  row-gap: 2rem;
  column-gap: 3rem;
  margin: 3rem auto 2rem;
}

.banner-text{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.banner-text h1{
  width: 90%;
  font-size: 3rem;
  text-align: left;
}

.banner-text p{
  font-size: 1.25rem;
  text-align: left;
  width: 100%;
}

.banner-text > div{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-btn{
  background-color: var(--black);
}
.banner-btn:hover{
  background-color: var(--orange);
}

.banner-image img{
  height: 100%;
}


/* Banner Media Query */

@media screen and (max-width: 576px) {
  .banner{
    flex-flow: column-reverse nowrap;
  }
  .banner-text h1{
    font-size: 2rem;
  }
  .banner-text p{
    font-size: 1rem;
}
  .banner-image img{
    width: 100%;
  }
}

/* Curriculum Section Styling */

.curriculum{
  padding: 4rem 0;
  font-family: "Quicksand", serif;
  margin-top: 5rem;
}

.curriculum > h2{
  font-size: 2.8rem;
  font-weight: 700;
  text-align: center;
}

.curriculum-cards{
  width: 100%;
  margin: 5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.curriculum-card{
  width: 31%;
  height: 30rem;
  padding: 1.5rem 2rem;
  text-align: center;
  box-shadow: 0 0 1.75rem 1px rgba(0, 0, 0, 0.08);
  border-radius: 1.2rem;
  position: relative;
}

.curriculum-card .cur-card-img{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto 2.1rem;
}

.cur-card-img > img {
  width: 50%;
}

.curriculum-card > h3{
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.8rem;
  color: #202020;
}

.curriculum-card > p{
  font-family: "Raleway", serif;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #808080;
  margin-bottom: 2rem;
}

.curriculum-card > a{
  text-decoration: none;
  font-weight: 600;
  position: absolute;
  bottom: 2.5rem;
  left: 35%;
}

.blue-card{
  background: linear-gradient(180deg, #def5ff, #fff 40%);
}

.wheat-card{
  background: linear-gradient(180deg, #fff4dc, #fff 40%);
}

.purple-card{
  background: linear-gradient(180deg, #f2e8ff, #fff 40%);
}

/* Indicator styling */

.indicator{
  width: 100%;
  margin: 4rem 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.left-indicator,
.right-indicator{
  width: 4rem;
  height: 4rem;
  border-radius: 50px;
  background-color: var(--orange);
  position: relative;

}

.left-indicator:hover,
.right-indicator:hover{
  background-color: var(--dodger-blue);
}

.less-than,
.greater-than{
  position: absolute;
  left: 40%;
  top: 33%;
  font-size: 1.4rem;
  color: var(--white);
}


/* Curriculum Media Query */

@media screen and (max-width: 576px) {
  .curriculum{
    margin-top: 3rem;
  }
  .curriculum-cards{
    flex-direction: column;
  }
  .curriculum-card{
    width: 100%;
    margin-bottom: 1rem;
    height: 25rem;
  }
  .curriculum > h2{
    font-size: 1.6rem;
    text-align: center;
  }
  .curriculum-card > h3{
    font-size: 1rem;
  }
  .curriculum-card > p{
    font-size: 0.75rem;
  }
  .curriculum-card > a{
    font-size: 0.85rem;
  }
  .indicator{
    display: none;
  }
}


/* Story section styling */

.stories{
  display: grid;
  grid-template-columns: 40% calc(30% - 1rem) calc(30% - 1rem);
  grid-template-rows: repeat(2, auto);
  grid-gap: 1rem;
}

section > h2{
  font-size: 2.8rem;
  font-weight: 700;
  font-family: "Quicksand", serif;
  text-align: center;
  margin-top: 3.8rem;
  margin-bottom: 5rem;
}

.story-card-hide,
.story-card{
  box-shadow: 0px 0px 1.75rem 1px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.box1{
  grid-area: 1 / 1 / 3 / 2;
}

.box2{
  grid-area: 1 / 2 / 2 / 3;
}

.box3{
  grid-area: 1 / 3 / 2 / 4;
}

.box4{
  grid-area: 2 / 2 / 3 / 3;
}

.box5{
  grid-area: 2 / 3 / 3 / 4;
}

.box1 img{
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.box1-btn{
  background-color: var(--orange);
  color: var(--white);
  font-weight: 600;
  font-size: 1rem;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 2rem;
  position: relative;
  left: 1rem;
  bottom: 2rem;
}

.box1-text{
  padding: 2rem;
}

.box1-text > h4{
  font-family: "Quicksand", serif;
  font-size: 1.5rem;
  font-weight: 700;
}

.box1-text > p{
  font-family: "Raleway", serif;
  color: #666;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1.5rem;
}

.story-card > img{
  width: 100%;
  max-width: 1180px;
  border-radius: 1rem 1rem 0 0;
}

.story-card > h4{
  padding: 0 1rem;
}

.story-btn{
  padding: 8px 16px;
  border: none;
  border-radius: 2rem;
  color: var(--white);
  font-weight: 600;
  position: relative;
  left: 1.2rem;
  bottom: 1.65rem;
}

.btn-2{
  background-color: var(--dodger-blue);
}

.btn-3{
  background-color: var(--indigo);
}

.btn-4{
  background-color: var(--orange);
}

.btn-5{
  background-color: var(--brown);
}

.view-btn{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 5rem auto 3.75rem;
}

.view-btn > button{
  padding: 1rem;
  background-color: var(--black);
  border: none;
  border-radius: 0.75rem;
  color: var(--white);
  font-style: 1rem;
}

.view-btn > button:hover{
  background-color: var(--orange);
}

/* Story section Media Query */

@media screen and (max-width: 576px) {
  .box1{
    display: none;
  }
  .stories{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 4rem;
  }
  .story-card{
    width: 45%;
  }
  section > h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
  }
  .story-btn{
    padding: 0.5rem;
    font-size: 0.5rem;
    bottom: 1rem;
  }
  .story-card > h4{
    font-size: 1rem;
    padding: 0 0.5rem;
  }
}

/* Footer styling */

footer{
  width: auto;
  background-color: var(--dodger-blue);
  color: var(--white);
  padding: 3rem 8rem;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  gap: 4rem;
}

footer li{
  list-style: none;
  color: #fffd;
}

.section1 > p{
  color: #fffd;
  text-wrap: wrap;
  text-align: left;
}

.flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
}

.flex > h3{
  text-align: left;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.section2 > p{
  font-size: 1.3rem;  
  font-weight: 500;
  margin-bottom: 2rem;
}

.section2 li{
  font-size: 1rem;
  margin-bottom: 0.8rem;
}

.section3 > p{
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.footer-links{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

/* footer media query */

@media screen and (max-width: 576px) {
  footer{
    flex-direction: column;
    padding: 5rem 2rem;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
  }
  footer br{
    display: none;
  }
  .section1{
    margin-bottom: 2rem;
  }
  .section1 p{
    font-size: 0.8rem;
  }
  .section1 h3,
  .section2 p,
  .section3 p{
    font-size: 1rem;
  }
  .section2 p{
    margin-bottom: 0.8rem;
  }
  .section2{
    margin-bottom: 2rem;
  }
  .section2 li{
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
  }
  .section3 p{
    margin-bottom: 1.5rem;
  }
  .flex > img,
  .footer-link > img{
    width: 2.5rem;
    height: 2.5rem;
  }
}